* a {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('https://i.pinimg.com/originals/6e/54/41/6e5441ed49eab12bbcbbc126c4d15919.jpg');
}

.header {
    width: 100%;
    margin: 2em auto;
}

.header img {
    max-width: 30%;
    margin: 0 35%;
    border-radius: 50px;
    box-shadow: 10px 10px #00000025;
}

.header-text {
    width: 100%;
    text-align: center;
    margin: 2em 0;
    padding: 0 1em;
}

.header-text h1 {
    animation: border-rainbow 0.4s linear infinite;
    height: 2em;
    width: 10em;
    margin: 0 auto;
    background-repeat: no-repeat;

}

.header-text h2 {
    color: #a3c3d3;
    padding-top: 0.3em;
}

.header-text p {
    color: #a3c3d3;
    padding-top: 0.1em;
}

.github {
    display: block;
    margin: 1.5em 0;
    position: absolute;
    top: 1em;
    left: 2em;
    width: 8em;
}

.github a {
    color: #a3c3d3;
    text-decoration: none;
    text-align: center;
}

.github a h2 {
    font-size: 1em;
}

.github img {
    max-width: 100%;
    margin: 0;
    border-radius: 30px;
    box-shadow: 10px 10px #00000025;
}

.repositories {
    align-items: center;
}
.item {
    text-align: center;
    height: 20em;
    margin: 3em 1.5em;
}

.item a {
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;
    padding: 12px 0;
    height: 100%;
}

.item a:hover {
    animation: bottom-rainbow 1s linear infinite;
}

.item a:hover img { /*.image */
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    filter: grayscale(0);
}

.item a:hover h3 { /* .title */
    color: inherit;
} 

.item .title h3 {
    color: #a3c3d3;
}

.item .image {
    height: 80%;
}

.item .image img {
    max-width: 100%;
    height: 75%;
    margin: auto 0;
    object-fit: contain;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    filter: grayscale(1);
}

 @keyframes border-rainbow {
	0%,
	100% {
        background-size: calc(100% - 10px) 6px,
		/* top & bottom */ 6px calc(100% - 10px); /* right & left */

	    background-position: 5px 5px, /* top */ calc(100% - 5px) 5px,
		/* right */ 5px calc(100% - 5px), /* bottom */ 5px 5px; /* left */

		background-image: linear-gradient(
				115deg,
				#10cf40,
				#f8ce25,
				#800ff0,
				#0ea2dd
			),
			linear-gradient(115deg, #0ea2dd, #0ea2dd),
			linear-gradient(115deg, #10cf40, #f8ce25, #800ff0, #0ea2dd),
            linear-gradient(115deg, #10cf40, #44ce7b);
        color: linear-gradient(
            115deg,
            #f8ce25,
            #800ff0,
            #0ea2dd,
            #10cf40
        ),
        linear-gradient(115deg, #10cf40, #10cf40),
        linear-gradient(115deg, #f8ce25, #800ff0, #0ea2dd, #10cf40),
        linear-gradient(115deg, #f8ce25, #f8ce25);
        color: #0ea2dd;
        padding: 0.3em 0.1em 0.5em 0em;
	}

	25% {
		background-image: linear-gradient(
				115deg,
				#f8ce25,
				#800ff0,
				#0ea2dd,
				#10cf40
			),
			linear-gradient(115deg, #10cf40, #10cf40),
			linear-gradient(115deg, #f8ce25, #800ff0, #0ea2dd, #10cf40),
            linear-gradient(115deg, #f8ce25, #f8ce25);
        color: #10cf40;
        
        padding: 0.5em 0em 0.3em 0em;
	}

	50% {
		background-image: linear-gradient(
				115deg,
				#800ff0,
				#0ea2dd,
				#10cf40,
				#f8ce25
			),
			linear-gradient(115deg, #f8ce25, #f8ce25),
			linear-gradient(115deg, #800ff0, #0ea2dd, #10cf40, #f8ce25),
            linear-gradient(115deg, #800ff0, #800ff0);
        color: #f8ce25;
        padding: 0.3em 0em 0.5em 0.1em;
	}

	75% {
		background-image: linear-gradient(
				115deg,
				#0ea2dd,
				#10cf40,
				#f8ce25,
				#800ff0
			),
			linear-gradient(115deg, #800ff0, #800ff0),
			linear-gradient(115deg, #0ea2dd, #10cf40, #f8ce25, #800ff0),
            linear-gradient(115deg, #0ea2dd, #0ea2dd);
        color: #800ff0;
        padding: 0.4em 0.1em 0.4em 0em;
	}
}

@keyframes bottom-rainbow {
    0%,
	100% {
        background-size: 100% 6px;

	    background-position: 0 calc(100% - 10px);

		background-image: linear-gradient(
				115deg,
				#10cf40,
				#f8ce25,
				#800ff0,
				#0ea2dd
			),
			linear-gradient(115deg, #0ea2dd, #0ea2dd),
			linear-gradient(115deg, #10cf40, #f8ce25, #800ff0, #0ea2dd),
            linear-gradient(115deg, #10cf40, #44ce7b);
        color: linear-gradient(
            115deg,
            #f8ce25,
            #800ff0,
            #0ea2dd,
            #10cf40
        ),
        linear-gradient(115deg, #10cf40, #10cf40),
        linear-gradient(115deg, #f8ce25, #800ff0, #0ea2dd, #10cf40),
        linear-gradient(115deg, #f8ce25, #f8ce25);
        color: #0ea2dd;
	}

	25% {
		background-image: linear-gradient(
				115deg,
				#f8ce25,
				#800ff0,
				#0ea2dd,
				#10cf40
			),
			linear-gradient(115deg, #10cf40, #10cf40),
			linear-gradient(115deg, #f8ce25, #800ff0, #0ea2dd, #10cf40),
            linear-gradient(115deg, #f8ce25, #f8ce25);
        color: #10cf40;
	}

	50% {
		background-image: linear-gradient(
				115deg,
				#800ff0,
				#0ea2dd,
				#10cf40,
				#f8ce25
			),
			linear-gradient(115deg, #f8ce25, #f8ce25),
			linear-gradient(115deg, #800ff0, #0ea2dd, #10cf40, #f8ce25),
            linear-gradient(115deg, #800ff0, #800ff0);
        color: #f8ce25;
	}

	75% {
		background-image: linear-gradient(
				115deg,
				#0ea2dd,
				#10cf40,
				#f8ce25,
				#800ff0
			),
			linear-gradient(115deg, #800ff0, #800ff0),
			linear-gradient(115deg, #0ea2dd, #10cf40, #f8ce25, #800ff0),
            linear-gradient(115deg, #0ea2dd, #0ea2dd);
        color: #800ff0;
	}
}

@media (max-width: 960px) {
    .header img {
        max-width: 90%;
        margin: 0 5%;
    }

    .github {
        position: relative;
        margin: 0 auto;
        left: 0;
        top: 0;
    }
}